/* theme */

#day{
    --back: #fafffe;
    --line-tint: #dacccc78;
    --nom-text: #adabab;
    --dark-text: #2b2727;
    --logo: linear-gradient(to bottom right, rgb(148 221 48), rgb(23 217 190), rgb(12 62 91)); 
}
#night{
    --back: #1e2530;
    --line-tint: #1616166b;
    --weekly-overlay: #263342;
    --weather-text: #b2bbc5;
    --nom-text: #e0e9eb;
    --dark-text: #a6c3de;
    --logo: linear-gradient(to bottom right, rgb(48, 109, 221), rgb(26, 199, 176), rgb(97, 11, 126)); 
    --weather-text-sec: #000932;
}

/* animations */
@keyframes rotate {
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(360deg);
  }
}

@keyframes iconshake {
  0%{
      transform: translateX(-4%);
  }
  20%{
      transform: translateX(4%);
  }
  40%{
      transform: translateX(-4%);
  }
  60%{
      transform: translateX(4%);
  }
  80%{
      transform: translateX(-4%);
  }
  100%{
      transform: translateX(4%);
  }
}
@keyframes bounce {
  0%{
      transform: translateY(-8%);
  }
  20%{
      transform: translateY(0%);
  }
  40%{
      transform: translateY(-8%);
  }
  60%{
      transform: translateY(0%);
  }
  80%{
      transform: translateY(-8%);
  }
  100%{
      transform: translateY(0%);
  }
}

@keyframes bounceHigh {
    0%{
        transform: translateY(-50%);
    }
    20%{
        transform: translateY(0%);
    }
    40%{
        transform: translateY(-50%);
    }
    60%{
        transform: translateY(0%);
    }
    80%{
        transform: translateY(-50%);
    }
    100%{
        transform: translateY(0%);
    }
  }

body{
    overflow: hidden;
}